<!-- <header>
    <nav>
        <ul>
            <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li><a class="<%= path === '/active' ? 'active' : '' %>" href="/about">About</a></li>
            <li><a class="<%= path === '/research' ? 'active' : '' %>" href="/research">Research</a></li>
            <li><a class="<%= path === '/blog' ? 'active' : '' %>" href="/blog">Blog</a></li>
            <li><a class="<%= path === '/my-patients' ? 'active' : '' %>" href="/my-patients">My Patients</a></li>
        </ul>
    </nav>
</header> -->

<header class="header">
    <!-- <p style="position: absolute; top: 0;" id="distance">Distance: <span>0</span>px</p> -->
    <div class="open-mobile-nav">
        <div class="open-mobile-nav__icon">
            <span></span>
        </div>
    </div>

    <div class="logo-container">
        <img src="img/coventy-culture-logo.png" alt="Nexus Veterinary Physiotheraphy Logo">
    </div>

    <div class="nav-container">

        <div class="close-mobile-nav">
            <span class="close-mobile-nav__icon">close</span>
        </div>

        <div class="nav-main">
            <nav>
                <ul>
                    <!-- <li><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li> -->
                    <li><a class="<%= path === '/active' ? 'active' : '' %>" href="/about">About</a></li>
                    <li><a class="<%= path === '/research' ? 'active' : '' %>" href="/research">Research</a></li>
                    <li><a class="<%= path === '/blog' ? 'active' : '' %>" href="/blog">Blog</a></li>
                    <li><a class="<%= path === '/my-patients' ? 'active' : '' %>" href="/my-patients">My Patients</a></li>
                </ul>
            </nav>
        </div>

        <!-- <div class="nav-admin">
            <ul>
                <li><a href="javascript:void(0)">Help</a></li>
                <li>
                    <a class="nav-admin__user-icon" aria-label="My Account Icon" href="javascript:void(0)">
                        <span class="nav-admin__my-account-word">My Account</span>
                        <span class="nav-admin__my-account-icon">
                            <i class="fas fa-user"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div> -->
    </div>

    <!-- <div class="wl-basket">
        <a role="button" aria-label="Basket Icon">
            <span class="basket-icon">
                <i class="fal fa-shopping-basket"></i>
                <div class="basket-count">
                    <span>99</span>
                </div>
            </span>
            <span class="main-header__basket--clock" id="header-basket-clock">00:00</span>
        </a>
    </div> -->


</header>